.mapDiv {
  width: 100vw;
  height: 100vh;
}

.startMarker {
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
}

.stationMarker {
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 50%;
}