.mapDiv {
  width: 100vw;
  height: 100vh;
}

.startMarker {
  width: 35px;
  height: 35px;
  background-image: url('./start.svg');
  background-size: cover;
  border-radius: 20%;
}

.stationMarker {
  width: 25px;
  height: 25px;
  background-image: url('./station.svg');
  background-size: cover;
  border-radius: 50%;
}

.nearestMarker {
  @extend .stationMarker;
  background-image: url('./nearest.svg');
}
